.container {
  display: flex;
  flex: 1;
  backface-visibility: hidden;
  will-change: transform;
  align-items: center;
}
.embla__viewport {
  overflow: hidden;
  border-radius: 0.4rem;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
