.carousel {
  display: flex;
  flex-direction: column;
  flex: 1;
  backface-visibility: hidden;
  will-change: transform;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.carouselShadow {
  box-shadow: var(--shadow-highlight-surface-yellow);
}

.embla__viewport {
  overflow: hidden;
  border-radius: 0.4rem;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
