.container {
  width: 100%;
  padding: 2rem;
  padding-top: 3rem;
  background: linear-gradient(
    180deg,
    var(--color-brand-blue-100) 22.83%,
    var(--color-brand-blue-300) 100%
  );
  border-radius: 0 0 0.8rem 0.8rem;
  border: 0.1rem solid var(--color-brand-yellow-500);
  border-top: none;
  box-shadow: var(--shadow-highlight-surface-blue);
}

.containerMissao {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
