.menu {
  position: relative;
  padding-top: 7rem;
  width: 100%;
}

.menuHeader {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1.6rem;
}

.menuItem {
  list-style-type: none;
  color: var(--nav-text);
}
.menuItem button {
  color: inherit;
}
.menuItem svg {
  fill: currentColor;
  stroke: currentColor;
}
.menuItem button svg {
  transition: transform 0.3s ease;
}

.menuItem:hover > div > button {
  transform: rotate(180deg);
}

.menuLink {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  /* transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: color 0.3s ease;
  position: relative;
}
.menuLink.active,
.menuLink.active + button {
  color: var(--nav-active-text);
}
.active + button {
  transform: rotate(180deg);
}
/* .menu > ul > li.active > a {
  background-color: transparent;
  transition: all 0.7s;
} */

.menuItem:hover {
  color: var(--nav-text-hover);
  font-weight: 500;
}
.subList {
  max-height: 0;
  overflow: hidden;
  background-color: var(--nav-subitem-bg);
  transition: max-height 0.2s ease;
}
.subList.open {
  max-height: 20rem;
  border-radius: 0 20px 0 0;
}

.subItem {
  padding: 1.4rem 0 1.4rem 3.2rem;
  font-weight: 600;
  border-radius: 0 0.2rem 0 0;
  color: var(--nav-text);
}
.subItem:hover {
  color: var(--nav-text-hover);
  font-weight: 700;
}
