.thumbButton {
  box-shadow: var(--shadow-depth-surface-yellow);
}
.thumb {
  min-height: 8.8rem;
  min-width: 17.2rem;
  filter: brightness(0.9);
  transition:
    filter 250ms ease,
    transform 250ms ease;
}

.thumb:hover {
  filter: brightness(1);
  transform: scale(1.03);
}
