/* Base compartilhada */
.customTextField {
  background: var(--color-brand-beige-100);
  border-radius: 1rem;
  box-shadow: var(--shadow-depth-surface-blue);
}

/* Container do Filled e Bordas */
.customTextField :global(.MuiFilledInput-root) {
  background-color: transparent;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-brand-beige-300);
  transition: border-color 0.2s ease-in-out;
  padding: 0;
}
.customTextField :global(.MuiInputBase-input),
.customTextField :global(.MuiInputLabel-root) {
  font-family: var(--font-family-body);
}

.customTextField :global(.MuiFilledInput-root):before,
.customTextField :global(.MuiFilledInput-root):after {
  display: none;
}

.customTextField :global(.MuiFilledInput-root):hover {
  border-color: var(--color-brand-beige-500);
}

.customTextField :global(.MuiFilledInput-root.Mui-focused) {
  border-color: var(--color-brand-blue-100);
}

/* Rótulo */
.customTextField :global(.MuiInputLabel-root) {
  font-size: var(--font-size-body-lg);
  padding: 0;
  color: var(--color-grays-scale-700);
  transition:
    color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

/* Estado ativo/encolhido do Rótulo */
.customTextField :global(.MuiInputLabel-root.Mui-focused),
.customTextField :global(.MuiInputLabel-root.MuiInputLabel-shrink) {
  color: var(--color-brand-blue-100);
  font-weight: 600;
}
.customTextField :global(.MuiInputLabel-root) :global(.Mui-focused),
.customTextField :global(.MuiInputLabel-root.MuiInputLabel-shrink) {
  transform: translate(1rem, -2rem) scale(0.85);
}
/* Texto de entrada */
.customTextField :global(.MuiInputBase-input) {
  color: var(--color-grays-scale-1000);
  font-size: var(--font-size-body-md);
}

/* Inputs de 1 linha */
.customInput :global(.MuiInputBase-root) input {
  padding: 1.4rem 1.6rem;
  height: auto;
  display: flex;
  align-items: center;
}

/* Textarea */
.customTextArea :global(.MuiFilledInput-root) input,
.customTextArea :global(.MuiFilledInput-root) {
  padding: 1.4rem 1.6rem !important;
  height: stretch;
}
