.tabs {
  display: flex;
  flex-direction: column;
  width: 65rem;
  margin: 0 auto;
}

.containerTabs {
  display: flex;
  align-items: center;
  margin-right: 12rem;
}

.containerTabPanels {
  width: 100%;
}
