.container {
  background: var(--color-brand-blue-500);
  display: flex;
  align-items: stretch;
  gap: 3.6rem;
  height: 100vh;
}
.sectionDecoration {
  background-image: url("@/assets/pole.png"), url("@/assets/letter.png");
  min-height: 100vh;

  background-repeat: no-repeat, no-repeat;

  margin-right: 2.4rem;

  background-position:
    100% 10%,
    90% 41%;
  background-size:
    32% auto,
    62% auto;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin: 3.2rem 0;
  flex: 1;
  color: var(--color-brand-beige-100);
}
.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.textoDestaque {
  background: linear-gradient(
    90deg,
    var(--color-brand-yellow-500),
    var(--color-brand-yellow-100)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
