.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.imageBorder {
  width: 100%;
  background-color: var(--color-brand-blue-300);
  padding: 0.8rem;
  aspect-ratio: 5 / 3;
  box-sizing: border-box;
  border-radius: 0.6rem;
}
.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 1.2rem;
  animation: imageChange 200ms ease-in-out;
}

@keyframes imageChange {
  from {
    opacity: 0.9;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
