#accordian[data-theme="inicio"] {
  --nav-bg: var(--color-brand-blue-400);
  --nav-text: var(--color-brand-beige-100);
  --nav-text-hover: var(--color-brand-yellow-100);
  --nav-active-text: var(--color-brand-blue-600);
  --nav-subitem-bg: var(--color-brand-blue-500);
  --selector-active-bg: var(--color-brand-beige-400);
}
#accordian[data-theme="portifolio"] {
  --nav-bg: var(--color-brand-blue-400);
  --nav-text: var(--color-brand-beige-100);
  --nav-text-hover: var(--color-brand-yellow-100);
  --nav-active-text: var(--color-brand-blue-600);
  --nav-subitem-bg: var(--color-brand-blue-500);
  --selector-active-bg: var(--color-brand-yellow-200);
}
#accordian[data-theme="quemSou"] {
  --nav-bg: var(--color-brand-beige-300);
  --nav-text: var(--color-nav-text);
  --nav-text-hover: var(--color-brand-blue-500);
  --nav-active-text: var(--color-brand-yellow-200);
  --nav-subitem-bg: var(--color-brand-beige-500);
  --selector-active-bg: var(--color-brand-blue-500);
}
#accordian[data-theme="contato"] {
  --nav-bg: var(--color-brand-yellow-200);
  --nav-text: var(--color-nav-text);
  --nav-text-hover: var(--color-brand-blue-500);
  --nav-active-text: var(--color-nav-text);
  --nav-subitem-bg: var(--color-brand-yellow-400);
  --selector-active-bg: var(--color-brand-beige-100);
}
#accordian {
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 100vh;
  padding: 2.4rem 0;
  background: var(--nav-bg);
}
[data-menu-laco]::before {
  content: "";
  background-image: url(/src/assets/menuLaco.png);
  position: absolute;
  width: 5rem;
  height: 7.5rem;
  background-size: contain;
  left: 0.8rem;
  top: 1.1rem;
  background-repeat: no-repeat;
}
.selectorActive {
  width: 100%;
  display: inline-block;
  position: absolute;
  height: 37px;
  top: 0;
  left: 0;
  transition: top 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: var(--selector-active-bg);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.selectorActive .top,
.selectorActive .bottom {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--selector-active-bg);
  right: 0;
}
.selectorActive .top {
  top: -25px;
}
.selectorActive .bottom {
  bottom: -25px;
}
.selectorActive .top:before,
.selectorActive .bottom:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--nav-bg);
}
.selectorActive .top:before {
  left: -25px;
  top: -25px;
}
.selectorActive .bottom:before {
  bottom: -25px;
  left: -25px;
}
